Implementation/e-TrustEx Adapter/Sources/src/main/resources/wsdl/CreditNote-2.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ec:services:wsdl:CreditNote-2.1" xmlns:cn="urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2" xmlns:ack="ec:schema:xsd:Ack-2" xmlns:eccac="ec:schema:xsd:CommonAggregateComponents-2" xmlns:fault="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreditNote" targetNamespace="ec:services:wsdl:CreditNote-2.1">
	<wsdl:types>
		<xsd:schema targetNamespace="ec:services:wsdl:CreditNote-2.1" elementFormDefault="qualified">
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CreditNote-2" schemaLocation="../xsd2.1final/maindoc/UBL-CreditNote-2.1.xsd"/>
			<xsd:import namespace="ec:schema:xsd:Ack-2" schemaLocation="../xsd2.1final/maindoc/EC-Ack-2.0.xsd"/>
			<xsd:import namespace="ec:schema:xsd:CommonAggregateComponents-2" schemaLocation="../xsd2.1final/custom/EC-CommonAggregateComponents-2.0.xsd"/>
			<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:Fault-2" schemaLocation="../xsd2.1final/maindoc/EC-Fault-2.0.xsd"/>
			<xsd:element name="SubmitCreditNoteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CreditNote" type="cn:CreditNoteType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubmitCreditNoteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="ack:AcknowledgmentType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Header" type="eccac:HeaderType"/>
			<xsd:element name="Fault" type="fault:FaultType"/>
		</xsd:schema>
	</wsdl:types>
	<message name="submitCreditNoteRequest">
		<part name="SubmitCreditNoteRequest" element="tns:SubmitCreditNoteRequest"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="submitCreditNoteResponse">
		<part name="SubmitCreditNoteResponse" element="tns:SubmitCreditNoteResponse"/>
		<part name="Header" element="tns:Header"/>
	</message>
	<message name="FaultResponse">
		<part name="FaultResponse" element="tns:Fault"/>
	</message>
	<portType name="creditNotePortType">
		<operation name="submitCreditNote">
			<input message="tns:submitCreditNoteRequest"/>
			<output message="tns:submitCreditNoteResponse"/>
			<fault name="FaultResponse" message="tns:FaultResponse"/>
		</operation>
	</portType>
	<binding name="creditNoteBinding" type="tns:creditNotePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="submitCreditNote">
			<soap:operation style="document"/>
			<input>
				<soap:body parts="SubmitCreditNoteRequest" use="literal"/>
				<soap:header message="tns:submitCreditNoteRequest" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</input>
			<output>
				<soap:body parts="SubmitCreditNoteResponse" use="literal"/>
				<soap:header message="tns:submitCreditNoteResponse" part="Header" use="literal">
					<soap:headerfault message="tns:FaultResponse" part="FaultResponse" use="literal"/>
				</soap:header>
			</output>
			<fault name="FaultResponse">
				<soap:fault name="FaultResponse" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="creditNoteService">
		<port name="creditNotePort" binding="tns:creditNoteBinding">
			<soap:address location="https://webgate.test.ec.europa.eu/e-priornode/services"/>
		</port>
	</service>
</definitions>
