Implementation/e-TrustEx Adapter/Sources/src/main/resources/xsd/custom/EC-CommonAggregateComponents-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by XMLSpy 2008 Enterprise Ed., Installed for 5 users (European Commission DG Regio) -->
<!--
Monday 17/11/2008 17:34:50.73 CommonAggregateComponents
-->
<!--
Package 0.01
Copyright EC DIGIT by PwC
 -->
<!-- ===== xsd:schema Element With Namespaces Declarations ===== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="ec:schema:xsd:CommonAggregateComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:sbdh="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:eccbc="ec:schema:xsd:CommonBasicComponents-1" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:sac="urn:oasis:names:specification:ubl:schema:xsd:SignatureAggregateComponents-2" targetNamespace="ec:schema:xsd:CommonAggregateComponents-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<!-- ===== UBL Imports ===== -->
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="../common/UBL-CommonBasicComponents-2.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="../common/UBL-CommonAggregateComponents-2.0.xsd"/>
	<xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="../common/UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" schemaLocation="../common/UBL-QualifiedDatatypes-2.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" schemaLocation="../common/UBL-CommonExtensionComponents-2.0.xsd"/>
	<!-- ===== EC Imports ===== -->
	<xsd:import namespace="ec:schema:xsd:CommonBasicComponents-1" schemaLocation="../custom/EC-CommonBasicComponents-1.0.xsd"/>
	<xsd:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="../common/xmlmime.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:SignatureAggregateComponents-2" schemaLocation="../common/UBL-SignatureAggregateComponents-2.0.xsd"/>
	<!-- ===== Incorporate W3C signature specification-->
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../common/UBL-xmldsig-core-schema-2.0.xsd"/>
	<!-- ===== Standard business document header Imports ===== -->
	<xsd:import namespace="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" schemaLocation="../common/sbdh/StandardBusinessDocumentHeader.xsd"/>
	<!-- ===== xmlmime Elements ===== -->
	<xsd:element name="InterchangeAgreement" type="InterchangeAgreementType"/>
	<xsd:element name="LargeAttachment" type="LargeAttachmentType"/>
	<xsd:element name="ResourceInformationReference" type="ResourceInformationReferenceType"/>
	<xsd:element name="StreamBase64Binary" type="Base64BinaryType"/>
	<xsd:element name="DocumentSize" type="DocumentSizeType"/>
	<xsd:element name="Format" type="FormatType"/>
	<xsd:element name="Creator" type="CreatorType"/>
	<xsd:element name="Title" type="TitleType"/>
	<xsd:element name="UserID" type="UserIDType"/>
	<xsd:element name="BusinessDocumentType" type="BusinessDocumentTypeType"/>
	<xsd:element name="PaginationRange" type="PaginationRangeType"/>
	<!-- ===== security Elements ===== -->
	<xsd:element name="DocumentHashMethod" type="DigestMethodType"/>
	<xsd:element name="DocumentCanonicalizationMethod" type="CanonicalizationMethodType"/>
	<xsd:element name="PayloadDigestMethod" type="DigestMethodType"/>
	<xsd:element name="PayloadDigestValue" type="DigestValueType"/>
	<xsd:element name="PayloadCanonicalizationMethod" type="CanonicalizationMethodType"/>
	<xsd:element name="DigestValue" type="DigestValueType"/>
	<xsd:element name="EncryptionInformation" type="EncryptionInformationType"/>
	<xsd:element name="SecurityInformation" type="SecurityInformationType"/>
	<xsd:element name="SenderPartyCertificate" type="CertificateType"/>
	<xsd:element name="ReceiverPartyCertificate" type="CertificateType"/>
	<xsd:element name="Timestamp" type="TimestampType"/>
	<!-- ===== Generic Read Services Element Declaration ===== -->
	<xsd:element name="DocumentReferenceRequest" type="DocumentReferenceRequestType"/>
	<xsd:element name="DocumentReferenceResponse" type="DocumentReferenceResponseType"/>
	<xsd:element name="ExtendedDocumentReferenceResponse" type="ExtendedDocumentReferenceResponseType"/>
	<xsd:element name="DocumentReferenceResponseRelatedDocs" type="DocumentReferenceResponseRelatedDocsType"/>
	<xsd:element name="DocumentReferenceResponseParentDocs" type="DocumentReferenceResponseParentDocsType"/>
	<xsd:element name="ExtendedDocumentReferenceResponseParentDocs" type="ExtendedDocumentReferenceResponseParentDocsType"/>
	<xsd:element name="DocumentContent" type="DocumentContentType"/>
	<xsd:element name="DocumentSenderParty" type="DocumentSenderParty"/>
	<xsd:element name="DocumentReceiverParty" type="DocumentReceiverParty"/>
	<xsd:element name="DocumentWrapperReference" type="DocumentWrapperReferenceType"/>
	<xsd:element name="RequestDocumentParameter" type="RequestDocumentParameterType"/>
	<xsd:element name="ExtendedRequestDocumentParameter" type="ExtendedRequestDocumentParameterType"/>
	<xsd:element name="AcknowledgedDocumentReference" type="AcknowledgedDocumentReferenceType"/>
	<!-- ===== Dummy Elment Declarations ===== -->
	<xsd:element name="RelatedDocument" type="DocumentReferenceResponseType"/>
	<xsd:element name="ParentDocument" type="DocumentReferenceResponseType"/>
	<!-- ===== EC  Element Declaration ===== -->
	<xsd:element name="ECDocumentReceivedData" type="ECDocumentReceivedDataType"/>
	<xsd:element name="ProcessingWarning" type="ProcessingWarningType"/>
	<xsd:element name="AdditionaHeaderlProperty" type="AdditionalProperty"/>
	<!-- ===== Header Element Declarations ===== -->
	<xsd:element name="AuthorisationHeader" type="AuthorisationHeaderType"/>
	<xsd:element name="Header" type="HeaderType"/>
	<xsd:element name="BusinessHeader" type="BusinessHeaderType"/>
	<xsd:element name="TechnicalHeader" type="TechnicalHeaderType"/>
	<!-- ===== e-Catalogue Element Declarations ===== -->
	<xsd:element name="CatalogueLineSynopsis" type="CatalogueLineSynopsisType"/>
	<xsd:element name="ItemSynopsis" type="ItemSynopsisType"/>
	<xsd:element name="CatalogueSynopsis" type="CatalogueSynopsisType"/>
	<xsd:element name="ItemClassification" type="ItemClassificationType"/>
	<xsd:element name="ParentItemClassificationCode" type="cbc:ItemClassificationCodeType"/>
	<xsd:element name="NumberOfItems" type="udt:NumericType"/>
	<xsd:element name="ItemClassificationOrderSequence" type="udt:NumericType"/>
	<xsd:element name="CatalogueItemClassification" type="CatalogueItemClassificationType"/>
	<xsd:element name="BrandNameCriterion">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="cbc:BrandNameType">
					<xsd:attribute name="Operator" type="xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelNameCriterion">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="cbc:ModelNameType">
					<xsd:attribute name="Operator" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NameCriterion">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="cbc:NameType">
					<xsd:attribute name="Operator" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ItemClassificationCodeCriterion">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="cbc:ItemClassificationCodeType">
					<xsd:attribute name="IncludeChildren" type="xsd:boolean" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedItemCriterion">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="cac:RelatedItemType">
					<xsd:attribute name="ItemRelationshipType"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- ==== Complex Types ====-->
	<xsd:complexType name="InterchangeAgreementType">
		<xsd:sequence>
			<xsd:element ref="cac:SenderParty"/>
			<xsd:element ref="cac:ReceiverParty"/>
			<xsd:element ref="SecurityInformation" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentTypeCode"/>
			<xsd:element ref="cbc:ProfileID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayloadHashType">
		<xsd:complexContent>
			<xsd:extension base="cbc:DocumentHashType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===== Generic Read Services Complex Types ===== -->
	<xsd:complexType name="DocumentReferenceRequestType">
		<xsd:complexContent>
			<xsd:restriction base="cac:DocumentReferenceType">
				<xsd:sequence>
					<xsd:element ref="cbc:ID">
						<xsd:annotation>
							<xsd:documentation>
								<ccts:Component>
									<ccts:ComponentType>BBIE</ccts:ComponentType>
									<ccts:DictionaryEntryName>Document Reference. Identifier</ccts:DictionaryEntryName>
									<ccts:Definition>Identifies the document being referred to.</ccts:Definition>
									<ccts:Cardinality>1</ccts:Cardinality>
									<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
									<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
									<ccts:DataType>Identifier. Type</ccts:DataType>
									<ccts:Examples>"PO-001" "3333-44-123"</ccts:Examples>
								</ccts:Component>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether the referenced document is a copy (true) or the original (false).</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="cbc:UUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. UUID. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A universally unique identifier for an instance of this ABIE.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<xsd:element ref="cbc:DocumentTypeCode">
						<xsd:annotation>
							<xsd:documentation>
								<ccts:Component>
									<ccts:ComponentType>BBIE</ccts:ComponentType>
									<ccts:DictionaryEntryName>Document Reference. Document Type Code. Code</ccts:DictionaryEntryName>
									<ccts:Definition>The document type, expressed as a code.</ccts:Definition>
									<ccts:Cardinality>1</ccts:Cardinality>
									<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
									<ccts:PropertyTerm>Document Type Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</ccts:Component>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--
      <xsd:element ref="cbc:DocumentType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Document Type. Text</ccts:DictionaryEntryName>
              <ccts:Definition>The document type, expressed as text.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>Document Type</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="cbc:XPath" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. XPath. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Refers to another part of the same document instance.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>XPath</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="Attachment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Attachment</ccts:DictionaryEntryName>
              <ccts:Definition>An attached document, externally referred to, referred to in the MIME location, or embedded.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>Attachment</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Attachment</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentReferenceResponseType">
		<xsd:sequence>
			<xsd:element ref="ext:UBLExtensions" minOccurs="0"/>
			<xsd:element ref="cac:Response" minOccurs="0"/>
			<xsd:element ref="cac:Status" minOccurs="0"/>
			<xsd:element ref="cac:OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="cac:DocumentReference"/>
			<xsd:element ref="cac:SenderParty" minOccurs="0"/>
			<xsd:element ref="cac:ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:LineResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedDocumentReferenceResponseType">
		<xsd:sequence>
			<xsd:element ref="cac:Response" minOccurs="0"/>
			<xsd:element ref="cac:Status" minOccurs="0"/>
			<xsd:element ref="Title" minOccurs="0"/>
			<xsd:element ref="BusinessDocumentType" minOccurs="0"/>
			<xsd:element ref="cbc:IssueDate" minOccurs="0"/>
			<xsd:element ref="cbc:IssueTime" minOccurs="0"/>
			<xsd:element ref="cac:OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="cac:DocumentReference"/>
			<xsd:element ref="cac:SenderParty" minOccurs="0"/>
			<xsd:element ref="cac:ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:LineResponse" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentReferenceResponseRelatedDocsType">
		<xsd:sequence>
			<xsd:element ref="DocumentReferenceResponse"/>
			<xsd:element ref="RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentReferenceResponseParentDocsType">
		<xsd:sequence>
			<xsd:element ref="DocumentReferenceResponse"/>
			<xsd:element ref="ParentDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedDocumentReferenceResponseParentDocsType">
		<xsd:sequence>
			<xsd:element ref="ExtendedDocumentReferenceResponse"/>
			<xsd:element ref="ParentDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ECDocumentReceivedDataType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="eccbc:InternalID" minOccurs="0"/>
			<xsd:element ref="cbc:VersionID" minOccurs="0"/>
			<xsd:element ref="AuthorisationHeader"/>
			<xsd:element ref="cbc:ReceivedDate"/>
			<xsd:element ref="eccbc:RegistrationDate" minOccurs="0"/>
			<xsd:element ref="cac:IssuerParty" minOccurs="0"/>
			<xsd:element ref="cac:RecipientParty" minOccurs="0"/>
			<xsd:element ref="cac:AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ProcessingWarning" minOccurs="0"/>
			<xsd:element ref="AdditionaHeaderlProperty" minOccurs="0"/>
			<xsd:element ref="eccbc:MimeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentContentType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="skip" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentSenderParty">
		<xsd:sequence>
			<xsd:element ref="cbc:EndpointID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentReceiverParty">
		<xsd:sequence>
			<xsd:element ref="cbc:EndpointID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestDocumentParameterType">
		<xsd:sequence>
			<xsd:element ref="cac:Period" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="eccbc:RetrievedDocumentsIndicator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="eccbc:RetrieveExtensionsIndicator" minOccurs="0"/>
			<xsd:element ref="cac:SenderParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedRequestDocumentParameterType">
		<xsd:sequence>
			<xsd:element ref="cac:Period" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentTypeCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="eccbc:RetrievedDocumentsIndicator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:SenderParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="eccbc:SortFieldTypeCode" minOccurs="0"/>
			<xsd:element ref="PaginationRange" minOccurs="0"/>
			<xsd:element ref="UserID" minOccurs="0"/>
			<xsd:element ref="BusinessDocumentType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Dummy Complex Types ===== -->
	<xsd:complexType name="DocumentReferenceRestrictionType">
		<xsd:complexContent>
			<xsd:restriction base="cac:DocumentReferenceType">
				<xsd:sequence>
					<xsd:element ref="cbc:ID">
						<xsd:annotation>
							<xsd:documentation>
								<ccts:Component>
									<ccts:ComponentType>BBIE</ccts:ComponentType>
									<ccts:DictionaryEntryName>Document Reference. Identifier</ccts:DictionaryEntryName>
									<ccts:Definition>Identifies the document being referred to.</ccts:Definition>
									<ccts:Cardinality>1</ccts:Cardinality>
									<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
									<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
									<ccts:DataType>Identifier. Type</ccts:DataType>
									<ccts:Examples>"PO-001" "3333-44-123"</ccts:Examples>
								</ccts:Component>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--
      <xsd:element ref="cbc:CopyIndicator" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
              <ccts:Definition>Indicates whether the referenced document is a copy (true) or the original (false).</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
              <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
              <ccts:DataType>Indicator. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="cbc:UUID" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. UUID. Identifier</ccts:DictionaryEntryName>
              <ccts:Definition>A universally unique identifier for an instance of this ABIE.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
              <ccts:DataType>Identifier. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<xsd:element ref="cbc:IssueDate" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<ccts:Component>
									<ccts:ComponentType>BBIE</ccts:ComponentType>
									<ccts:DictionaryEntryName>Document Reference. Issue Date. Date</ccts:DictionaryEntryName>
									<ccts:Definition>The date, assigned by the sender of the referenced document, on which the referenced document was issued.</ccts:Definition>
									<ccts:Cardinality>0..1</ccts:Cardinality>
									<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
									<ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
									<ccts:DataType>Date. Type</ccts:DataType>
								</ccts:Component>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="cbc:DocumentTypeCode">
						<xsd:annotation>
							<xsd:documentation>
								<ccts:Component>
									<ccts:ComponentType>BBIE</ccts:ComponentType>
									<ccts:DictionaryEntryName>Document Reference. Document Type Code. Code</ccts:DictionaryEntryName>
									<ccts:Definition>The document type, expressed as a code.</ccts:Definition>
									<ccts:Cardinality>1</ccts:Cardinality>
									<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
									<ccts:PropertyTerm>Document Type Code</ccts:PropertyTerm>
									<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
									<ccts:DataType>Code. Type</ccts:DataType>
								</ccts:Component>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!--
      <xsd:element ref="cbc:DocumentType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Document Type. Text</ccts:DictionaryEntryName>
              <ccts:Definition>The document type, expressed as text.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>Document Type</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="cbc:XPath" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>BBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. XPath. Text</ccts:DictionaryEntryName>
              <ccts:Definition>Refers to another part of the same document instance.</ccts:Definition>
              <ccts:Cardinality>0..n</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>XPath</ccts:PropertyTerm>
              <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
              <ccts:DataType>Text. Type</ccts:DataType>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
					<!--
      <xsd:element ref="Attachment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            <ccts:Component>
              <ccts:ComponentType>ASBIE</ccts:ComponentType>
              <ccts:DictionaryEntryName>Document Reference. Attachment</ccts:DictionaryEntryName>
              <ccts:Definition>An attached document, externally referred to, referred to in the MIME location, or embedded.</ccts:Definition>
              <ccts:Cardinality>0..1</ccts:Cardinality>
              <ccts:ObjectClass>Document Reference</ccts:ObjectClass>
              <ccts:PropertyTerm>Attachment</ccts:PropertyTerm>
              <ccts:AssociatedObjectClass>Attachment</ccts:AssociatedObjectClass>
            </ccts:Component>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      -->
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===== EC Header Element Declaration ===== -->
	<xsd:complexType name="ProcessingWarningType">
		<xsd:sequence>
			<xsd:element ref="eccbc:FailedAssert" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Header Complex Types ===== -->
	<xsd:complexType name="AuthorisationHeaderType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0"/>
			<xsd:element ref="cbc:VersionID" minOccurs="0"/>
			<xsd:element ref="cbc:IssueDate" minOccurs="0"/>
			<xsd:element ref="cbc:IssueTime" minOccurs="0"/>
			<xsd:element ref="cac:SenderParty"/>
			<xsd:element ref="cac:ReceiverParty" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:CopyIndicator" minOccurs="0"/>
			<xsd:element ref="cac:Signature" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="eccbc:AdditionalID" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HeaderType">
		<xsd:sequence>
			<xsd:element ref="BusinessHeader"/>
			<xsd:element ref="TechnicalHeader" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessHeaderType">
		<xsd:complexContent>
			<xsd:extension base="sbdh:StandardBusinessDocumentHeader"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TechnicalHeaderType">
		<xsd:sequence>
			<xsd:element ref="cbc:VersionID" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="PayloadDigestValue" minOccurs="0"/>
			<xsd:element ref="PayloadDigestMethod" minOccurs="0"/>
			<xsd:element ref="PayloadCanonicalizationMethod" minOccurs="0"/>
			<xsd:element ref="sac:SignatureInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdditionalProperty">
		<xsd:sequence>
			<xsd:element ref="cbc:Name">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Property. Name</ccts:DictionaryEntryName>
							<ccts:Definition>The name of the Item Property.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Item Property</ccts:ObjectClass>
							<ccts:PropertyTerm>Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
							<ccts:Examples>"Energy Rating", "Collar Size", "Fat Content"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Value">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Property. Value. Text</ccts:DictionaryEntryName>
							<ccts:Definition>The Item Property value.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Item Property</ccts:ObjectClass>
							<ccts:PropertyTerm>Value</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"100 watts", "15 European", "20% +/- 5%"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:UsabilityPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Property. Usability_ Period. Period</ccts:DictionaryEntryName>
							<ccts:Definition>The period for which the Item Property is valid.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item Property</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Usability</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Period</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Period</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== e-Catalogue Complex Types ===== -->
	<xsd:complexType name="ItemSynopsisType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name"/>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:BrandName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:ModelName" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:SellersItemIdentification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemClassificationType">
		<xsd:sequence>
			<xsd:element ref="cbc:ItemClassificationCode"/>
			<xsd:element ref="cbc:Description" maxOccurs="unbounded"/>
			<xsd:element ref="ItemClassificationOrderSequence"/>
			<xsd:element ref="ParentItemClassificationCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogueItemClassificationType">
		<xsd:sequence>
			<xsd:element ref="ItemClassification"/>
			<xsd:element ref="NumberOfItems"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogueSynopsisType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Catalogue. Details</ccts:DictionaryEntryName>
					<ccts:Definition>The document that describes items, prices, and price validity.</ccts:Definition>
					<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:UBLVersionID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>The earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>2.0.5</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:CustomizationID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Customization Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>NES</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ProfileID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Profile Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>BasicProcurementProcess</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ID">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the Catalogue assigned by the Seller.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:UUID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. UUID. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>A universally unique identifier for an instance of this ABIE.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>UUID</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Name" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Name</ccts:DictionaryEntryName>
							<ccts:Definition>A name given to a catalogue.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
							<ccts:Examples>"winter 2005 collection"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:IssueDate">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Issue Date. Date</ccts:DictionaryEntryName>
							<ccts:Definition>The date when the catalogue was issued.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
							<ccts:DataType>Date. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Note. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Free-form text applying to the Catalogue. This element may contain notes or any other similar information that is not contained explicitly in another structure.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Note</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>A description of the catalogue.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"computer accessories for laptops"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:VersionID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Version. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Indicates the current version of the catalogue.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Version</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>"1.1"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ValidityPeriod" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Validity_ Period. Period</ccts:DictionaryEntryName>
							<ccts:Definition>The period assigned by the Seller during which the information in the Catalogue is effective.  This may be given as start and end dates or a duration.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Validity</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Period</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Period</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ReferencedContract" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Referenced_ Contract. Contract</ccts:DictionaryEntryName>
							<ccts:Definition>An association to a framework agreement or contract.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Referenced</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Contract</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Contract</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ProviderParty">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Provider_ Party. Party</ccts:DictionaryEntryName>
							<ccts:Definition>An association to the Catalogue Provider Party.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Provider</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Party</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ReceiverParty">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Receiver_ Party. Party</ccts:DictionaryEntryName>
							<ccts:Definition>An association to the Catalogue Receiver Party.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Receiver</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Party</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:SellerSupplierParty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Seller_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
							<ccts:Definition>The Supplier Party responsible for the contract to which the Catalogue relates.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Seller</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ContractorCustomerParty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Contractor_ Customer Party. Customer Party</ccts:DictionaryEntryName>
							<ccts:Definition>The Customer Party responsible for the contract to which the Catalogue relates.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Contractor</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:TradingTerms" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue. Trading Terms</ccts:DictionaryEntryName>
							<ccts:Definition>An association to trading terms.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue</ccts:ObjectClass>
							<ccts:PropertyTerm>Trading Terms</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Trading Terms</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:LifeCycleStatusCode" minOccurs="0"/>
			<xsd:element ref="cac:ClassificationScheme" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogueLineSynopsisType">
		<xsd:sequence>
			<xsd:element ref="cbc:LineID" minOccurs="0"/>
			<xsd:element ref="cbc:LifeCycleStatusCode" minOccurs="0"/>
			<xsd:element ref="cac:LineValidityPeriod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Line Validity_ Period. Period</ccts:DictionaryEntryName>
							<ccts:Definition>The period for which the Catalogue Line is valid.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Line Validity</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Period</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Period</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:OrderableIndicator" minOccurs="0"/>
			<xsd:element ref="ItemSynopsis"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--===== e-Request Complex Types =====-->
	<xsd:complexType name="DocumentSummaryType">
		<xsd:sequence>
			<xsd:element ref="cbc:VersionID"/>
			<xsd:element ref="cbc:DocumentTypeCode"/>
			<xsd:element ref="eccbc:SummaryDescriptionCode" minOccurs="0"/>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:IssueDate"/>
			<xsd:element ref="cbc:IssueTime"/>
			<xsd:element ref="cac:AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cac:OriginatorCustomerParty"/>
			<xsd:element ref="cac:SellerSupplierParty"/>
			<xsd:element ref="cac:OriginatorDocumentReference" minOccurs="0"/>
			<xsd:element ref="ECRequestForQuotationDocumentReference"/>
			<xsd:element ref="NextDocument" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ProcessTimeline" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentTimelineType">
		<xsd:sequence>
			<xsd:element ref="cbc:DocumentTypeCode"/>
			<xsd:element ref="cbc:ExpiryDate" minOccurs="0"/>
			<xsd:element ref="cbc:ExpiryTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ECLotType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="eccbc:MarketProcedureName"/>
			<xsd:element ref="eccbc:ModeCode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ECRequestForQuotationDocumentReferenceType">
		<xsd:sequence>
			<xsd:element ref="cac:RequestForQuotationDocumentReference"/>
			<xsd:element ref="eccbc:RequestForQuotationTypeCode"/>
			<xsd:element ref="eccbc:RequestForQuotationPropertyCode"/>
			<xsd:element ref="cac:Contract"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NextDocumentType">
		<xsd:sequence>
			<xsd:element ref="cbc:DocumentTypeCode"/>
			<xsd:element ref="cbc:VersionID"/>
			<xsd:element ref="eccbc:MultipleIndicator"/>
			<xsd:element ref="eccbc:AutomaticIndicator" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessTimelineType">
		<xsd:sequence>
			<xsd:element ref="cbc:ParentDocumentID"/>
			<xsd:element ref="cbc:ParentDocumentTypeCode"/>
			<xsd:element ref="DocumentTimeline" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OriginatorDocumentOpenerPartyType">
		<xsd:complexContent>
			<xsd:extension base="cac:PartyType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ===== xmlmime Types ===== -->
	<xsd:complexType name="Base64BinaryType">
		<xsd:simpleContent>
			<xsd:extension base="xmime:base64Binary">
				<xsd:attribute name="mimeCode" type="xsd:normalizedString" use="required"/>
				<xsd:attribute name="encodingCode" type="xsd:normalizedString" use="optional"/>
				<xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentSizeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:NumericType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DigestMethodType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DigestValueType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CanonicalizationMethodType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FormatType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CreatorType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TitleType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UserIDType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BusinessDocumentTypeType">
		<xsd:simpleContent>
			<xsd:extension base="udt:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PaginationRangeType">
		<xsd:sequence>
			<xsd:element name="From" type="udt:NumericType"/>
			<xsd:element name="To" type="udt:NumericType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LargeAttachmentType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Attachment. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an attached document. An attachment can be referred to externally (with the URI element) or internally (with the MIME reference element) or contained within the document itself (with the EmbeddedDocument element).</ccts:Definition>
					<ccts:ObjectClass>Attachment</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="StreamBase64Binary" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Attachment. Embedded_ Document. Binary Object</ccts:DictionaryEntryName>
							<ccts:Definition>Contains an embedded document as a BLOB (binary large object).</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Attachment</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Embedded</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Document</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Binary Object</ccts:RepresentationTerm>
							<ccts:DataType>Binary Object. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:ExternalReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Attachment. External Reference</ccts:DictionaryEntryName>
							<ccts:Definition>An attached document, externally referred to, referred to in the MIME location, or embedded.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Attachment</ccts:ObjectClass>
							<ccts:PropertyTerm>External Reference</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>External Reference</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="EncryptionInformation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResourceInformationReferenceType">
		<xsd:sequence>
			<xsd:element ref="cbc:Name" minOccurs="0"/>
			<xsd:element ref="DocumentSize" minOccurs="0"/>
			<xsd:element ref="DocumentHashMethod" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentHash" minOccurs="0"/>
			<xsd:element ref="Format" minOccurs="0"/>
			<xsd:element ref="cbc:IssueDate" minOccurs="0"/>
			<xsd:element ref="cbc:IssueTime" minOccurs="0"/>
			<xsd:element ref="Creator" minOccurs="0"/>
			<xsd:element ref="cbc:URI" minOccurs="0"/>
			<xsd:element ref="LargeAttachment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentWrapperReferenceType">
		<xsd:sequence>
			<xsd:element ref="cbc:ID"/>
			<xsd:element ref="cbc:CopyIndicator" minOccurs="0"/>
			<xsd:element ref="cbc:UUID" minOccurs="0"/>
			<xsd:element ref="cbc:IssueDate" minOccurs="0"/>
			<xsd:element ref="cbc:IssueTime" minOccurs="0"/>
			<xsd:element ref="cbc:Note" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentTypeCode"/>
			<xsd:element ref="cbc:DocumentType" minOccurs="0"/>
			<xsd:element ref="cbc:XPath" minOccurs="0"/>
			<xsd:element ref="ResourceInformationReference" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EncryptionInformationType">
		<xsd:sequence>
			<xsd:element name="Certificate" type="CertificateType" minOccurs="0"/>
			<xsd:element name="SessionKey" type="udt:BinaryObjectType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SecurityInformationType">
		<xsd:sequence>
			<xsd:element ref="eccbc:ConfidentialityLevelCode"/>
			<xsd:element ref="eccbc:IntegrityLevelCode"/>
			<xsd:element ref="eccbc:AvailabilityLevelCode"/>
			<xsd:element ref="SenderPartyCertificate" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ReceiverPartyCertificate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CertificateType">
		<xsd:sequence>
			<xsd:element ref="eccbc:KeyUsageCode"/>
			<xsd:element name="X509Certificate" type="udt:BinaryObjectType"/>
			<xsd:element name="X509SubjectName" type="udt:TextType" minOccurs="0"/>
			<xsd:element name="X509CRL" type="udt:BinaryObjectType" minOccurs="0"/>
			<xsd:element ref="cac:ValidityPeriod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TimestampType">
		<xsd:choice>
			<xsd:element ref="ds:Signature"/>
			<xsd:element name="RFC3161TimeStampToken" type="xsd:base64Binary"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="AcknowledgedDocumentReferenceType">
		<xsd:sequence>
			<xsd:element ref="cac:DocumentReference"/>
			<xsd:element ref="cac:SenderParty" minOccurs="0"/>
			<xsd:element ref="cac:ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="DocumentHashMethod" minOccurs="0"/>
			<xsd:element ref="cbc:DocumentHash" minOccurs="0"/>
			<xsd:element ref="DocumentCanonicalizationMethod" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--===== e-Request Elements =====-->
	<xsd:element name="DocumentSummary" type="DocumentSummaryType"/>
	<xsd:element name="DocumentTimeline" type="DocumentTimelineType"/>
	<xsd:element name="ECLot" type="ECLotType"/>
	<xsd:element name="ECRequestForQuotationDocumentReference" type="ECRequestForQuotationDocumentReferenceType"/>
	<xsd:element name="NextDocument" type="NextDocumentType"/>
	<xsd:element name="OriginatorDocumentOpenerParty" type="OriginatorDocumentOpenerPartyType"/>
	<xsd:element name="ProcessTimeline" type="ProcessTimelineType"/>
</xsd:schema>
